/*.currentUser {
  margin-right: 40px;
}*/

.messages {
  padding-bottom: 5px;
}

.message-right {
  text-align: right;
}

.message-left {
  text-align: left;
}

.messageText {
  /*border: 1px solid black;*/
  border-color: transparent;
  border-radius: 15px;
  display: inline-block;
  padding: 6px;
}

.messageTextFrom {
  background-color: aliceblue;
}

.messageTextTo {
  background-color: beige;
}

.chatWindow {
  height: 700px;
  /*overflow: scroll;*/
  border: 1px solid black;
}

.messageList {
  height: 620px;
  border: 1px solid black;
  overflow: auto;
}

.sendMessage {
  margin-bottom: 20px;
  position: fixed; 
  bottom: 0;  
  border: 1px solid black;
  /*width: 20%;*/
/*  margin-left: 30px;*/
  width: 748px;
}

.sendMessageInput {
  width: 693px;
}

.dropdown-toggle {
  margin-right: 34px;
}

.navbar-brand {
  margin-left: 13px !important;
}

.unreadMessage {
  display: inline-block;
  background-color: lavender;
  border-radius: 10px;
  padding: 5px;
  color: black;
}






