/*.currentUser {
  margin-right: 40px;
}*/

html, body {
  height: 100%;
}

.messages {
  padding-bottom: 5px;
}

.message-right {
  text-align: right;
}

.message-left {
  text-align: left;
}

.messageText {
  /*border: 1px solid black;*/
  border-color: transparent;
  border-radius: 15px;
  display: inline-block;
  padding: 6px;
}

.wrapMessage {
  width: 300px;
  word-break: break-word;
  text-align: left;
}

.messageTextFrom {
  background-color: aliceblue;
}

.messageTextTo {
  background-color: beige;
}

.chatWindow {
  height: 95vh;
  padding-left: 0;
  /*border: 1px solid black;*/
}

.friendHeaders {
  font-size: 16px;
}

.friendListWindow {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  height: 95vh;
  border-right: 1px solid lightgray;
  padding-right: 0;
}

.friendList {
  list-style: none;
  padding-left: 0;
}

.friendPanel {
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 0px;
}

.activeFriendPanel {
  background-color: lightgreen;
}

.friendArrow {
  float: right;
  color: #ddd;
}

.friendReqSent {
  margin-left: 20px;
}

.messageList {
  /*height: 620px;*/
  /*border: 1px solid black;*/
  height: 85vh;
  overflow: auto;
}

/*.sendMessage {
  margin-bottom: 20px;
  position: absolute; 
  bottom: 0;
  border: 1px solid black;
  width: 748px;
}*/

/*.sendMessageInput {
  width: 693px;
}*/

.dropdown-toggle {
  margin-right: 34px;
  color: aquamarine !important;
}

.navbar-brand {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: deepskyblue !important;
  margin-left: 13px !important;
  font-size: 28px;
}

.unreadMessage {
  display: inline-block;
  background-color: lavender;
  border-radius: 10px;
  padding: 5px;
  color: black;
}

.loginFailed {
  float: left;
  color: white;
  margin-top: 3px;
  margin-right: 8px;
}

img {
  margin-top: 30px;
  margin-left: 24px;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.nav-row {
  margin-bottom: 0px;
  height: 5vh;
}

.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
  vertical-align: middle;
  position: relative;
}

.input-display-add {
  width: 75%;
  display: inline;
  vertical-align: middle;
}

.button-display-add {
  width: 23%;
  display: inline;
  vertical-align: middle;
  text-align: center;
}

.input-display-send {
  width: 85%;
  display: inline;
  vertical-align: middle;
}

.button-display-send {
  width: 13%;
  display: inline;
  vertical-align: middle;
  text-align: center;
}
