<!-- contains friends lists, and chat window -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Locket</a>
    <!-- <div class="appName navbar-header text-center">Locket</div> -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser}}</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li role="separator" class="divider"></li>
          
          <li ng-click="logout()"><a href="#">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">

    <div class="col-md-4 friendListWindow">
      Friends List
      <form ng-submit='addFriend(newFriendUsername)' name='addFriendForm'>
        <input type='text' name='newFriendUsername' ng-model='newFriendUsername' required/>
        <input type='submit' ng-disabled='!addFriendForm.$valid' value='Add Friend'>
      </form>
      Online Friends
      <ul>
        <li ng-if='friend.online' ng-repeat='friend in friends track by $index | orderBy:"name"' ng-click='startChat(friend)'>
          <span class='friendService'>{{friend.service}}</span>
          <span class='friendName'>{{friend.name}}</span>
          <div class="unreadMessage" ng-if="friend.unreadMessage">
            New message from {{friend.name}}
          </div>
        </li>
      </ul>

      <div class="friendRequests">
        <ul>
          <li ng-repeat='friend in friendRequests track by $index'>
            <span>New friend Request from: {{friend}}</span>
            <div class="friendRequestOptions">
              <button ng-click='acceptFriendRequest(friend)'>Accept</button>
              <button ng-click='ignoreFriendRequest(friend)'>Ignore</button>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="acceptedFriendRequests">
        <ul>
          <li ng-repeat='friend in acceptedfriendRequests track by $index'>
            <span>{{friend}} accepted your friend request</span>
            <button ng-click='acknowledgeFriendRequest($index)'>Acknowledge</button>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-md-8 chatWindow">
      <div ng-show="activeFriend">
        <div class="activeFriendBox text-center">Chat with {{activeFriend.name}}</div>
        
        <div class="messageList" scroll-glue>
          <div class="messages"  
            ng-class="{ 'message-right': message.from === currentUser, 'message-left': message.from !==currentUser }" 
            ng-repeat='message in activeFriend.messages track by $index | orderBy:"timeStamp"'>
            <!-- <span>{{message.from}}</span> -->
            <span 
              ng-class="{ 'messageTextFrom': message.from === currentUser, 'messageTextTo': message.from !==currentUser }"
              ng-click="revokeMessage(message)" class="messageText">{{message.message}} 
            </span>
          </div>
        </div>

        <div class="sendMessage">
          <form ng-submit='sendMessage(messageText)' name='messageForm'>
            <input class="sendMessageInput" type='text' name='message' ng-model='messageText' maxlength="120" required/>
            <input ng-disabled='!messageForm.$valid || !activeFriend.key' type='submit' value='send'/>
          </form>
        </div>

      </div>
    </div>
  
  </div>
</div> 

