<!-- contains friends lists, and chat window -->
<div>
  <h2>{{currentUser}}</h2>
  <h1>CHAT PAGE</h1>
  <div class="container">
    <div class="row">
      
      <div class="col-md-4 friendsList" ng-init="getFriends()">
        Friends List
        <form ng-submit='addFriend(username)' name='addFriendForm'>
          <input type='text' name='username' ng-model='username' required/>
          <input type='submit' ng-disabled='!addFriendForm.$valid' value='Add Friend'>
        </form>
        Online Friends
        <ul>
          <span ng-repeat='friend in friends track by $index | orderBy:"name"' ng-click='startChat(friend)'>
            <li ng-if='friend.online'>
              <span class='friendService'>{{friend.service}}</span>
              <span class='friendName'>{{friend.name}}</span>
            </li>
          </span>
        </ul>
      </div>


      <div class="col-md-8 chatWindow" ng-show="activeFriend">
        <div class="activeFriendBox">Chat with {{activeFriend.name}}</div>
        
        <div class="messages">
          <div ng-repeat='message in activeFriend.messages track by $index | orderBy:"timeStamp"'>
            <span>{{message.from}}</span>
            <span>{{message.message}}</span>
            <span>{{message.timestamp}}</span>
          </div>
        </div>

        <div class="sendMessage">
          <form ng-submit='sendMessage(messageText)' name='messageForm'>
            <input type='text' name='message' ng-model='messageText' required/>
            <input ng-disabled='!messageForm.$valid' type='submit' value='send'/>
          </form>
        </div>
      </div>
      
    </div>
    
    <div class="row">
      <div class="friendRequests">
        <ul>
          <li ng-repeat='friend in friendRequests track by $index'>
            <span>New friend Request from: {{friend}}</span>
            <button ng-click='acceptFriendRequest(friend)'>Accept</button>
            <button ng-click='ignoreFriendRequest(friend)'>Ignore</button>
          </li>
        </ul>
      </div>
      
      <div class="acceptedFriendRequests">
        <ul>
          <li ng-repeat='friend in acceptedfriendRequests track by $index'>
            <span>{{friend}} accepted your friend request</span>
            <button ng-click='acknowledgeFriendRequest($index)'>Acknowledge</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="logout">
        <form ng-submit='logout()' name='logoutForm'>
          <input type='submit' value='Logout'>
        </form>
      </div>
    </div>

  </div>
</div>
