<div class="container-fluid no-padding">
  <div class="row special-row">
    <div class="col-xs-12">
      <nav class="navbar navbar-inverse nav-row navbar-static-top">
        <div class="container-fluid no-padding">
          <a class="navbar-brand" href="#">Locket</a>
          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" ng-submit='login()' name='loginForm'>
              <input autocomplete='off' class='form-control' type='text' name='username' placeholder='username' ng-model='user.usernameLogin' ng-minlength="2" required/>
              <input autocomplete='off' class='form-control' type='password' name='password' placeholder='password' ng-model='user.passwordLogin' ng-minlength="2" required/>
              <button class='btn btn-primary form-control' ng-disabled="!loginForm.$valid" type='submit'>Login</button>
              <div class='loginFailed' ng-show='loginFailed'>Login Failed</div>
            </form>
          </div><!--/.navbar-collapse -->

        </div><!-- .container-fluid -->
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 no-padding">
      <img class="bannerImage" src="../../assets/banner2.jpg"/>
      <!-- <h1 class="aboutBanner">Chat securely away from prying eyes</h1> -->
    </div>
  </div>

  <div class="row aboutRow row-odd">
    <div class="col-xs-offset-2 col-xs-4">
      <img class="loginImage" src="../assets/facebook_problem.png">
    </div>
    <div class="col-xs-4">
      <h1 class="aboutHeader">The Problem</h1>
      <p class="about">
        Based on the Terms of Service from Facebook Messenger and Google Hangouts, users agree to allow these companies to read their messages.
      </p>
    </div>
  </div>

  <div class="row aboutRow row-even">
    <div class="col-xs-offset-2 col-xs-4">
      <h1 class="aboutHeader">The Solution</h1>
      <p class="about">
        Unlike other end-to-end encryption chat services, Locket allows users to chat with existing friends on other messaging platforms while protecting user privacy.
      </p>
    </div>
    <div class="col-xs-4">
      <img class="loginImage" src="../assets/facebookEncryptedChat.png">
    </div>
  </div>

  <div class="row aboutRow row-odd">
    <div class="col-xs-offset-2 col-xs-4">
      <img class="loginImage friendsListImage" src="../assets/friendsList.png">
    </div>
    <div class="col-xs-4">
      <h1 class="aboutHeader">Chat with Facebook and Hangouts Friends</h1>
      <p class="about">
        Have encrypted or unencrypted chats over Facebook and Google Hangouts, all on a single page.
      </p>
    </div>
  </div>

  <div class="row aboutRow row-even">
    <div class="col-xs-offset-2 col-xs-4">
      <h1 class="aboutHeader">Send Photos over Locket</h1>
      <p class="about">
        Securely share your photos with your friends.
      </p>
    </div>
    <div class="col-xs-4">
      <img class="loginImage" src="../assets/photoDemo.png">
    </div>
  </div>

  <div class="row aboutRow row-odd">
    <div class="col-xs-offset-2 col-xs-4">
      <img class="loginImage revokeGif" src="../assets/revokeMessage.gif">
    </div>
    <div class="col-xs-4">
      <h1 class="aboutHeader">Revoke Messages After They're Sent</h1>
      <p class="about">
        By clicking on one of the messages you've sent, the message will be destroyed forever.  We never save your messages on our server.
      </p>
    </div>
  </div>

  <div class="row aboutRow row-even">
    <div class="col-xs-offset-2 col-xs-4">
      <h1 class="aboutHeader">Send Fun Emoticons</h1>
      <p class="about">
        Express yourself with a wide range of emoticons!
        <br><br>
        <a target="_blank" href="http://www.emoji-cheat-sheet.com/">Emoji Cheat Sheet</a>
      </p>
    </div>
    <div class="col-xs-4">
      <img class="loginImage" src="../assets/emojis.png">
    </div>
  </div>

  <div class="row aboutRow row-odd">
    <div class="col-xs-offset-2 col-xs-4">
      <img class="loginImage" src="../assets/encryption.jpg">
    </div>
    <div class="col-xs-4">
      <h1 class="aboutHeader signupHeader">Signup</h1>
      <h4>Chat securely away from prying eyes</h4>
      <form ng-submit='signup()' name='signupForm'>
        <input autocomplete='off' class='form-control' type='text' name='username' placeholder='username' ng-model='user.usernameSignup' ng-minlength="2" required/>
        <input autocomplete='off' class='form-control' type='password' name='password' placeholder='password' ng-model='user.passwordSignup' ng-minlength="2" required/>
        <input autocomplete='off' class='form-control' placeholder='confirm password' name="confirmPassword" ng-model="user.passwordConfirm" type="password" match="user.passwordSignup" required/>
        <button class='btn btn-primary form-control' ng-disabled="!signupForm.$valid" type='submit'>Sign Up</button>
        <span class='error' ng-show='signupForm.username.$error.minlength'>Username is too short</span>
        <span class='error' ng-show='signupForm.password.$error.minlength'>Password is too short</span>
        <span class='error' ng-show='signupForm.confirmPassword.$error.match'>Passwords must match</span>
        <div ng-show='signupFailed'>Signup Failed</div>
      </form>
    </div>
  </div>

  <div class="row aboutRow row-odd">
    <div class="col-xs-offset-2 col-xs-4">
      <img src="../../assets/GitHub-Mark.png" alt="GitHub Logo" class="githubLogo">
      View this project on GitHub:
      <a target="_blank" href="https://github.com/interpolating-platypus/Locket"> Locket</a>
      <br>
      <img src="../../assets/GitHub-Mark.png" alt="GitHub Logo" class="githubLogo githubLogoHidden">
      Or check out the <a target="_blank" href="/chat.html">Annotated Source</a>
    </div>
    <div class="col-xs-4">
      <div>To have encrypted chats with your friends on Facebook and Google Hangouts, download the <a target="_blank" href="https://chrome.google.com/webstore/detail/locket/kmclnkpagjmledigbephoecmpihidbla">Locket Chrome extension</a>!</div>
    </div>
  </div>
</div>
