<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Locket</a>
    <!-- <div class="appName navbar-header text-center">Locket</div> -->
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" ng-submit='login()' name='loginForm'>
        <input type='text' name='username' placeholder='username' ng-model='user.usernameLogin' ng-minlength="2" required/>
        <input type='password' name='password' placeholder='password' ng-model='user.passwordLogin' ng-minlength="2" required/>
        <input ng-disabled="!loginForm.$valid" value="Login" type='submit'/>
        <div class='loginFailed' ng-show='loginFailed'>Login Failed</div>
      </form>
    </div><!--/.navbar-collapse -->
  </div><!-- .container-fluid -->
</nav>

<div class="container">
  <div class="col-md-4">
    <img class="image" src="encryption.jpg">
  </div>
  <div class="col-md-4 col-md-offset-4">
    <h1>SIGNUP</h1>
    <form ng-submit='signup()' name='signupForm'>
      <input type='text' name='username' placeholder='username' ng-model='user.usernameSignup' ng-minlength="2" required/>
      <input type='password' name='password' placeholder='password' ng-model='user.passwordSignup' ng-minlength="2" required/>
      <h4>Chat securely away from prying eyes</h4>
      <input ng-disabled="!signupForm.$valid" value="Sign Up" type='submit'/>
      <span class='error' ng-show='signupForm.username.$error.minlength'>Username is too short</span>
      <span class='error' ng-show='signupForm.password.$error.minlength'>Password is too short</span>
      <div ng-show='signupFailed'>signup Failed</div>
    </form>
  </div>
</div>
