<nav class="navbar">
  <h1 class="appName text-center">Locket</h1>
</nav>

<h1>LOGIN</h1>

<form ng-submit='login()' name='loginForm'>
  <input type='text' name='username' placeholder='username' ng-model='user.usernameLogin' ng-minlength="2" required/>
  <input type='password' name='password' placeholder='password' ng-model='user.passwordLogin' ng-minlength="2" required/>
  <input ng-disabled="!loginForm.$valid" value="Login" type='submit'/>
  <span class='error' ng-show='loginForm.username.$error.minlength'>Username is too short</span>
  <span class='error' ng-show='loginForm.password.$error.minlength'>Password is too short</span>
  <div ng-show='loginFailed'>Login Failed</div>
</form>

<h1>SIGNUP</h1>

<form ng-submit='signup()' name='signupForm'>
  <input type='text' name='username' placeholder='username' ng-model='user.usernameSignup' ng-minlength="2" required/>
  <input type='password' name='password' placeholder='password' ng-model='user.passwordSignup' ng-minlength="2" required/>
  <input ng-disabled="!signupForm.$valid" value="Sign Up" type='submit'/>
  <span class='error' ng-show='signupForm.username.$error.minlength'>Username is too short</span>
  <span class='error' ng-show='signupForm.password.$error.minlength'>Password is too short</span>
  <div ng-show='signupFailed'>signup Failed</div>
</form>

